* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
  /* background: linear-gradient(lightskyblue, pink); */
  text-shadow: 2px 2px 2px black;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  margin: 0;
}

#header {
    display: flex;
  flex-direction: column;
    justify-content: center;
  align-items: center;
  margin-top: 30px;
}


/* #celebrant {
    display: flex;
    justify-content: center;
    align-items: center;    
}  */

.confetti {
    width: 50px;
    vertical-align: middle;
    margin-left: -7px;
}

#jhal-pic {
  width: 150px;
  border-radius: 50%;
  border: 5px solid pink;
  margin: 30px auto 20px;
}

#bday-old, #bday-date {
    /* display: inline-block; */
    background: pink;
    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px gray;
}

#gift-section-one {
    margin-top: 40px;
    padding-bottom: 40px;
}

/* .gift-img {
    width: 400px;
    margin: 10px;
    border: 6px solid white;
    border-radius: 15px;
} */

.gift-happy {
    background-image: url("gift-box2.jpg");
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 400px;
    margin: 30px auto;
    border: 6px solid white;
    border-radius: 15px;
}

.gift-happy:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNGhtcm53NGs3YWl5bXFpbGY1OXZvdDYxcGEwdzA3ODFndXV1MnVjMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/1gITHcIZ24LXG7952M/giphy.gif");
}

#bday-wish {
    color: rgb(230, 76, 230);
    text-shadow: 2px 2px 1px black;
    font-size: 24px;
}

.gift-wish {
        background-image: url("gift-box2.jpg");
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 400px;
    margin: 30px auto;
    border: 6px solid white;
    border-radius: 15px;
}

.hover {
    color: rgb(240, 16, 16);
    text-shadow: 2px 2px 1px black;
    font-size: 30px;
    font-weight: 900;
}

.gift-wish:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNm83OXYxeHBuaTN4YmV3M3hzaGJpbzFuemNmOTQ2aWxhNDdxZXk4NiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/9utKFTChjMD33Rcq5t/giphy.gif")
}

.gift-footer {
    margin: 50px 0 0 0;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

.footer-author, .footer-date {
    margin: 10px  auto 0;
}

.footer-author {
    padding-top: 20px;
}
.footer-date {
    padding-bottom: 20px;
}
