.main-wrapper {
    display: flex;
    width: 450px;
    font-family: Arial, sans-serif;
    margin-top: 50px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    justify-content: space-around;
    background-color: rgb(194, 226, 239);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    
}

.for-details {
    text-align: center;
    padding: 20px auto;
}

.blue-border {
    border: 1px dotted blue;
    border-bottom: 8px solid #d8cefe;
}

h3, h4 {
    font-style: italic;
}